/* Navbar */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color:#f8f9fa;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.navbar{
    background-color: #0b1d39;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.logo{
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.nav-links{
    list-style: none;
    display: flex;
}

.nav-links li{
    margin-left: 15px;
}

.nav-links li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.nav-links li a:hover{
    color: orange;
}

.btn{
    background-color: orange;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 4px;
}

.btn:hover{
    background-color: #ffb347;
}
/* Banner Section */
.banner {
    width: 100%;
    min-height: 90vh;
    background: linear-gradient(rgba(0,0,0,0.6),
                rgba(0,0,0,0.6)),
                url("./business meetings image.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.banner-content {
    max-width: 650px;
    color:white;
    margin-left: 80px;
}

.banner-content h5 {
    color: #f4b400;
    font-size: 16px;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.banner-content h1 {
    font-size: 48px;
    line-height: 1.2;
    margin-bottom: 20px;
}
.banner-content h2{
font-size: 48px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.banner-content p {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #e0e0e0;
}

.banner-btns {
    display: flex;
    gap: 15px;
}

.btn1,
.btn2 {
    padding: 10px 22px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.btn1 {
    background-color: #f4b400;
    color: #000;
}

.btn1:hover {
    background-color: #d89c00;
}

.btn2 {
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

.btn2:hover {
    background-color: white;
    color: black;
}

@media (max-width: 768px) {
    .banner-content h1 {
        font-size: 30px;
    }

    .banner-content p {
        font-size: 16px;
    }

    .banner-btns {
        flex-direction: column;
        width: fit-content;
    }
}
.services{
    padding: 60px;
    text-align: center;
}
.services h2{
    margin-bottom: 40px;
    font-size: 32px;
}

.service-box{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card{
    width: 250px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.card h3{
    margin-bottom: 15px;
}

.card p{
    margin-bottom: 15px;
    line-height: 24px;
}

.card button{
    padding: 10px 15px;
    border: none;
    background-color: orange;
    cursor: pointer;
}
.about{
display:flex;
align-items:center;
justify-content:center;
gap:50px;
padding:80px 20px;
flex-wrap:wrap;
}
.about-image img{
    width: 400px;
    border-radius: 8px;
}

.about-content{
    width: 500px;
}

.about-content h2{
    margin-bottom: 20px;
    font-size: 35px;
}

.about-content p{
    line-height: 28px;
    margin-bottom: 20px;
}

.about-content ul{
    margin-bottom: 20px;
}

.about-content li{
    margin-bottom: 10px;
}

.about-content button{
    padding: 10px 20px;
    border: none;
    background: orange;
    cursor: pointer;
}
.counter{
    background:#081b33;
    color:white;
    display:flex;
    justify-content:space-around;
    padding:60px 20px;
    text-align:center;
    flex-wrap:wrap;
}

.box h2{
    font-size:40px;
    margin-bottom:10px;
}

.box p{
    font-size:16px;
}
.team{
    padding: 80px 50px;
    text-align: center;
    padding: 80px 0;
}

.team h2{
    font-size: 32px;
    margin-bottom: 40px;
}

.team-box{
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.member{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
}

.member img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    background-color: yellowgreen;
    padding: 10px;
}

.member h3{
    margin-top: 15px;
}

.member p{
    color: lightblue;
}

.social{
    margin-top: 10px;
}

.social i{
    background-color: #0b1d39;
    color: white;
    padding: 10px;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}
.reviews{
    padding: 80px ;
    text-align: center;
    background-color: lightblue;
}

.reviews h2{
    margin-bottom: 40px;
    font-size: 32px;
}

.review-box{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.review-card{
    width: 300px;
    padding: 25px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.review-card p{
    line-height: 25px;
    margin-bottom: 15px;
}

.review-card h4{
    color: #081b33;
}
.blog{
    padding: 80px 50px;
    text-align: center;
}

.blog h2{
    margin-bottom: 40px;
}

.blog-box{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.blog-card{
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}

.blog-card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.blog-card h3{
    margin: 15px 0;
}

.blog-card p{
    padding: 0 15px 20px;
}
footer{
    background:#081b33;
    color:white;
    padding:50px;
}

.footer-content{
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
    gap:30px;
}

.footer-content h3{
    margin-bottom:15px;
}

.footer-content p{
    margin-bottom:10px;
}
.container{
    width:90%;
    max-width:1200px;
    margin:0 auto;
}
.services,
.about,
.team,
.blog,
.footer-content{
    width:90%;
    max-width:1200px;
    margin:0 auto;
}
.counter{
    width:100%;
    background:#081b33;
    color:white;
    padding:60px 0;
}

.counter-container{
    width:90%;
    max-width:1200px;
    margin:0 auto;
    display:flex;
    justify-content:space-between;
    text-align:center;
    flex-wrap:wrap;
}
.banner-content{
    width:90%;
    max-width:1200px;
    margin:0 auto;
}